.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--ui-white);
    
    
    .section {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        
        .title {
            font-family: 'Edu TAS Beginner', cursive;
            font-size: 40px;
            text-decoration: underline;
            margin-block: 40px;
        }
    }

    #header-offset {
        height: 150px;
    }
    
    #home {
        background: linear-gradient(to bottom right, var(--ui-primary) 60%, var(--ui-secondary) 100%);
        
        .welcome__text {
            margin-bottom: 50px;
            text-align: center;
            
            .motto {
                font-size: 30px;
                margin-bottom: 40px;
            }
        }
        
        .cards {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-block: 50px;
            
            .card {
                position: relative;
                width: 300px;
                height: 200px;
                background: var(--ui-black);
                border-radius: 15px;
                margin: 20px;
                background-size: 100%;
                cursor: pointer;
                transition: all 0.5s ease;
                
                &:hover {
                    transform: scale(1.05);
                    
                    .card-title:after {
                        width: 100%;
                    }
                    
                    .icon {
                        i {
                            background: var(--ui-white);
                            border-radius: 50%;
                            color: var(--ui-black);
                        }
                    }
                }
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    background-color: var(--ui-black);
                    opacity: 0.4;
                }
                
                .card-title {
                    position: absolute;
                    font-size: 30px;
                    top: 20px;
                    left: 20px;
                    padding-inline: 10px;
                    z-index: 1;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 3px;
                        background-color: var(--ui-white);
                        transition: width 0.5s ease;
                    }
                }
                
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 20px;
                    bottom: 30px;
                    z-index: 1;
                    text-align: center;
                    
                    span {
                        font-family: 'Edu TAS Beginner', cursive;
                        margin-right: 10px;
                    }
                    
                    i {
                        font-size: 30px;
                        transition: all 0.3s ease;
                    }
                }
                
                &.individual {
                    background-image: url('../../images/individual_fd.jpg');
                }
                
                &.couple {
                    background-image: url('../../images/couple_fd.jpg');
                }
                
                &.teen {
                    background-image: url('../../images/teen_fd.jpg');
                }
                
                @media screen and (max-width: 700px) {
                    //height: 80px;
                    width: 300px;
                }
            }
        }
    }
    
    #about {
        background: linear-gradient(to top right, var(--ui-black) 70%, var(--ui-secondary) 100%);
        justify-content: flex-start;

        .title {
            margin-top: 120px;
        }
        
        .about__text {
            height: 70%;
            font-size: 16px;
            color: var(--ui-white);
            padding: 40px;
            
            .text-title {
                font-size: 24px;
                margin-bottom: 20px;
                color: var(--ui-tertiary);
            }

            .text-content {
                text-indent: 40px;
            }
        }
    }
    
    #faq {
        background: linear-gradient(to top left, var(--ui-tertiary) 50%, var(--ui-black) 100%);
        
        
        .faq__text {
            text-align: center;
            font-size: 16px;
            color: var(--ui-white);
            padding: 40px;
            
            .text-title {
                font-size: 24px;
                margin-bottom: 20px;
                color: var(--ui-black);
            }
        }
    }
    
    #jobs {
        background: linear-gradient(to top right, var(--ui-primary) 50%, var(--ui-tertiary) 100%);
    }
    
    #contact {
        background: linear-gradient(to top left, var(--ui-secondary) 50%, var(--ui-primary) 100%);
    }
}